doctype html
html
 doctype html
 html 
     head 
         title= `${title}`
         meta(name="viewport" content="width=device-width, initial-scale=1")
         link(rel="stylesheet", href="/css/style.css")
  body
    p
      a(href='/update-cobj') Add/Update this table


    table
      thead
        tr
          th Name
          th Type
          th Age 

      tbody
        each obj in customObjects
          tr
            td= obj.Name
            td= obj.Type
            td= obj.Age

