doctype html
html
  head
    title Liste des Pets
  body
    h1 Liste des Pets
    table
      thead
        tr
          th Name
          th Type
          th Age
      tbody
        each obj in customObjects
          tr
            td= obj.properties.name
            td= obj.properties.type
            td= obj.properties.age
    p
      a(href='/update-cobj') Ajouter/Modifier ce tableau


