doctype html
html
  head
    title Ma page d'accueil
  body
    h1 Ma page d'accueil
    table
      thead
        tr
          th Name
          th Type
          th Age
      tbody
        each obj in customObjectData.results
          tr
            td= obj.properties.name.value
            td= obj.properties.type.value
            td= obj.properties.age.value
    p
      a(href='/update-cobj') Ajouter/Modifier ce tableau
